/*  ● style4.css : modifie la couleur du background en #ffffff. 
    ● style4.css lorsqu’elle est inférieure à 1280px. */

body {background-color: #ffffff;}
h1 {color: #000; text-align: center; margin-top: 30vh;}
p {color: #000; text-align: center;}